---
const currentYear = new Date().getFullYear();
---

<hr class="hr-separator" />

<footer>
  <div class="container">
    <p class="copyright-text">
      Este sitio web no está afiliado ni respaldado por el proyecto Meshtastic.
      Meshtastic® es una marca registrada de Meshtastic LLC. Los componentes de
      software de Meshtastic se publican bajo diversas licencias, consulte
      GitHub para obtener detalles. No se proporciona garantía: úselo bajo su
      propio riesgo.
    </p>
    <p class="copyright-text">
      This site is not affiliated with or endorsed by the Meshtastic project.
      Meshtastic® is a registered trademark of Meshtastic LLC. Meshtastic
      software components are released under various licenses, see GitHub for
      details. No warranty is provided - use at your own risk.
    </p>
    <p class="copyright-text">
      &copy; {currentYear} - <a href="https://meshcolombia.com"
        >Meshtastic Colombia Community</a
      >
    </p>
  </div>
</footer>
